body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* TaskList.css */
.task-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.task-list {
  max-width: 600px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.task-list.show {
  opacity: 1;
}

.filter-options {
  margin-bottom: 20px;
}

.filter-options button {
  margin-right: 10px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.filter-options button:hover {
  background-color: #45a049;
}

.input-container {
  display: flex;
  margin-bottom: 15px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-container button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.input-container button:hover {
  background-color: #45a049;
}

.task-cards {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.task-card {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(45% - 15px);
}

.task-card span {
  flex: 1;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-card input[type="checkbox"] {
  margin-right: 10px;
}

.task-card button {
  margin: 0px 3px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.task-card button:hover {
  background-color: #c0392b;
}
.task-card span.completed-task {
  text-decoration: line-through; 
  color: #888; }
